@import 'colors.scss';

.appbody {
  background: linear-gradient(to bottom, $background_dark, $background_light);
}

p {
  color: $white;
}

#landing-img {
  object-fit: cover;
  height: 78vh;
  opacity: 0.7;
  filter: grayscale(50%);
}
