.construction {
  border: 20px solid;
  padding: 15px 0;
  border-radius: 10%;
  border-image: repeating-linear-gradient(45deg,black,black 10px,yellow 10px,yellow 20px) 20;
}

.construction-item {
  flex-grow: 1;
  max-width: fit-content !important;
  p {
    font-size: 20px;
    vertical-align: middle;
    margin: 0;
    color: red;
    font-weight: bold;
    text-align: center;
  }
}
