@import 'colors.scss';

textarea#message {
  resize: none;
}

.form-control:focus {
  border-color: $dark_green !important;
  box-shadow: 0 0 5px $shadow !important;
}

.form-label {
  color: #F0EDEE;
}
