@import 'colors.scss';

#landing-card {
  font-family: 'Exo', sans-serif;
  p {
    color: $white;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px $shadow;
  }
  h1 {
    border-bottom: 0;
    padding: 0;
    font-size: 5rem !important;
    color: $white;
    text-shadow: 3px 3px $shadow;
  }
  h3 {
    border-bottom: 0;
    font-size: 3rem !important;
    font-weight: bold;
    padding: 0;
    color: $light_green;
    text-shadow: 2px 2px $shadow;
  }
}

#landing-card-overlay {
  display: block;
  overflow: hidden;
  padding: 155px 105px;
}

#landing-img {
  object-fit: fill;
  height: auto;
  opacity: 0.5;
  filter: grayscale(50%);
}

#landing-avatar {
  position: absolute;
  object-fit: cover;
  bottom: 50px;
  right: 50px;
  height: 450px;
  width: auto;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 30px 30px #000000;
}

.landing-btn {
  margin: 50px;
}


@media screen and (max-width: 1024px) {

  #landing-avatar {
    height: 300px;
    box-shadow: 0px 0px 20px 20px #000000;
  }
  #landing-card-overlay {
    padding: 25px 25px;
  }
}

@media screen and (max-width: 820px) {

  #landing-avatar {
    height: 200px;

  }
}

@media screen and (max-width: 460px) {

  #landing-card {
    h1 {
      font-size: 2.3rem !important;
    }
    h3 {
      font-size: 1.8rem !important;
    }
    p {
      font-size: 10px;
    }
  }
  #landing-avatar {
    height: 27vw;
    box-shadow: 0px 0px 7px 7px #000000;
    bottom: 15px;
    right: 15px;
  }
  .landing-btn {
    margin: 15px 15px 0px 0px;
    font-size: 0.75rem !important;
    padding: 0.25rem 0.75rem !important;
  }
}

@media screen and (max-width: 360px) {

  #landing-card {
    h1 {
      font-size: 2.4rem !important;
      text-shadow: 2px 2px $shadow;
    }
    h3 {
      font-size: 1.5rem !important;
      text-shadow: 1px 1px $shadow;
    }
    p {
      font-size: 11px;
    }
  }
  #landing-avatar {
    height: 25vw;
    box-shadow: 0px 0px 5px 5px #000000;
    bottom: 10px;
    right: 10px;
  }
  .landing-btn {
    margin: 15px 10px 0px 10px;
  }
}

@media screen and (max-width: 320px) {

  #landing-card {
    h1 {
      font-size: 1.8rem !important;
    }
    h3 {
      font-size: 1.2rem !important;
    }
    p {
      font-size: 10px;
    }
  }
  .landing-btn {
    margin: 15px 10px 0px 5px;
    font-size: 0.6rem !important;
  }
  #landing-avatar {
    height: 22vw;
    box-shadow: 0px 0px 3px 3px #000000;
  }
}
