@import 'colors.scss';

#landing-card {
  font-family: 'Exo', sans-serif;
  vertical-align: middle;
  p {
    color: $white;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px $shadow;
  }
  h1 {
    border-bottom: 0;
    padding: 0;
    font-size: 5rem !important;
    color: $white;
    text-shadow: 3px 3px $shadow;
  }
  h3 {
    border-bottom: 0;
    font-size: 3rem !important;
    font-weight: bold;
    padding: 0;
    color: $light_green;
    text-shadow: 2px 2px $shadow;
  }
}

#landing-card-overlay {
  padding: 12% 8%;
}

#landing-img {
  object-fit: cover;
  height: 78vh;
  opacity: 0.5;
  filter: grayscale(50%);
}

#landing-avatar {
  position: absolute;
  object-fit: cover;
  bottom: 50px;
  right: 50px;
  height: 450px;
  width: auto;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 30px 30px #000000;
}

.landing-btn {
  margin: 50px;
}


@media only screen and (max-width: 770px) {

  #landing-avatar {
    height: 250px;
    box-shadow: 0px 0px 20px 20px #000000;
  }
}

@media only screen and (max-width: 430px) {

  #landing-card {
    h1 {
      font-size: 3.2rem !important;
    }
    h3 {
      font-size: 2.5rem !important;
    }
    p {
      font-size: 13px;
    }
  }
  #landing-avatar {
    height: 150px;
    box-shadow: 0px 0px 7px 7px #000000;
    bottom: 0;
    top: 20px;
    right: 20px;
  }
  .landing-btn {
    margin: 30px 15px 0px 15px;
  }
}

