@import 'colors.scss';

#navbar {
  background-color: #26282C;
}

#navbar a {
  color: $white;
}

#navbar a:hover {
  color: $light_green;
}

#navbar-hamburger {
  color: $white;
  font-size: 25px;
}
