@import 'colors.scss';

#navbar {
  background-color: #26282C;

  .nav-link {
    color: $white;
    &:hover {
      color: $light_green;
    }
  }
  .nav-link.active {
    color: $light_green;
  }
}

#navbar-hamburger {
  color: $white;
  font-size: 25px;
}
