@import 'colors.scss';

#navbar {
  background-color: #26282C;
  a {
    color: $white;
    &:hover {
      color: $light_green;
    }
  }
}

#navbar-hamburger {
  color: $white;
  font-size: 25px;
}
