.project-card {
  overflow: hidden;
  border-radius: 1em !important;
  margin-bottom: 20px;
  height: 250px;
  :hover {
    background: rgba(0,0,0,0.4);
    .project-skill {
      display: block;
    }
  }
}

.project-image {
  border-radius: 1em !important;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.project-skill {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  pointer-events:none;
  svg {
    margin-left: 5px;
  }
}

.project-card-img-overlay {
  padding: 0 !important;
  .project-card-text {
    font-family: 'Open Sans', sans-serif;
    pointer-events:none;
    background: repeating-linear-gradient(to right, rgba(0,0,0,0.3), transparent);
    padding: 1.25rem;
    .card-title {
    font-weight: bolder !important;
    }
    .card-text {
      font-weight: bold !important;
    }
  }
}

.project-btn {
  margin: 1.25rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder !important;
  font-style: italic;
}
